.page-header--border {
  border-bottom: 1px solid #ececec;
}

.page-header__container,
.page-header__site-nav,
.site-nav__list {
  display: flex;
  align-items: center;
}

.site-nav__item:not(:last-child),
.page-header__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav {
  &__logo {
    color: #000000;
    font-family: $fontFamily;
    font-size: 26px;
    line-height: $lineHeight;
    text-decoration: none;
  }

  &__accent {
    color: $accent-color;
  }
}

.site-nav__logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
}

.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: $fontSize;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  color: $primary-text-color;
  transition: color $duration $timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }

  &--active {
    position: relative;

    color: $accent-color;
  }
  &--active::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    display: block;
    width: 48px;
    height: 4px;
    background-color: $accent-color;
    border-radius: 2px;
  }

  /* Синяя линия у портфолио */
  &--accent::after {
    width: 75px;
  }
}

.page-header__list {
  display: flex;
  margin-left: auto;
}

.page-header__icon {
  margin-right: 10px;
  fill: currentColor;
}

.page-header__link {
  display: flex;
  align-items: center;
  padding: 0;
  padding-top: 32px;
  padding-bottom: 32px;
  border: none;
}

.page-header {
  &__link {
    font-weight: 500;
    font-size: $fontSize;
    line-height: 1.14;
    text-decoration: none;
    color: $secondary-text-color;

    transition: color $duration $timing-function;
  }
}

.page-header__link {
  &:hover,
  &:focus {
    color: $accent-color;
  }
}
