.page-footer--geometry {
  padding-top: 60px;
  padding-bottom: 60px;
}

.page-footer {
  background-color: #2f303a;
  color: $bgd-text-color;

  &__logo {
    font-family: $fontFamily;
    font-size: 26px;
    line-height: $lineHeight;
    text-decoration: none;
    color: $bgd-text-color;
  }

  &__accent {
    color: $accent-color;
  }

  &__address,
  &__link {
    font-weight: $fontWeight;
    font-size: $fontSize;
    line-height: 1.7;
    font-style: $fontStyle;
    text-decoration: none;
  }
}

.page-footer__container {
  display: flex;
  align-items: baseline;
}

.page-footer__logo {
  display: inline-block;
  padding-top: 0;
  padding-bottom: 0;
  margin-right: 0;
  margin-bottom: 20px;
}

.page-footer__list,
.page-footer__item {
  margin-top: 9px;
}

.page-footer__link {
  color: rgba(255, 255, 255, 0.6);
  transition: color $duration $timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.page-footer__card {
  margin-right: 70px;
}

/* -------------------Присоединяйтесь------------------ */
.attach--geometry {
  margin-right: 93px;
}

.attach {
  &__title {
    font-weight: 700;
    font-size: $fontSize;
    line-height: 1.14;
    text-transform: uppercase;
    letter-spacing: $letterSpace;
  }
}

.attach__title {
  margin-bottom: 20px;
}

.attach__list {
  display: flex;
}

.attach__item {
  display: inline-block;
}

.attach__item:not(:last-child) {
  margin-right: 10px;
}

.attach__link {
  @include centeredFlex();
  padding: 0;
  border: none;
  width: 44px;
  height: 44px;
  color: $bgd-text-color;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  transition: color $duration $timing-function, background-color $duration $timing-function;

  &:hover,
  &:focus {
    background-color: $accent-color;
    color: $bgd-text-color;
  }
}

.attach__icon {
  fill: currentColor;
}

/* ------------------------Форма---------------------- */
.footer-form--geometry {
  display: flex;
  align-items: flex-end;
}

.footer-form__input {
  margin: 0;
  margin-right: 12px;
  padding-left: 16px;

  width: 358px;
  height: 50px;
  color: $icon-fon;
  background-color: rgba(33, 150, 243, 0);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  outline: transparent;

  transition: border-color $duration $timing-function;

  &:focus {
    border-color: $icon-primary-color;
  }
}

.footer-form {
  &__title {
    font-weight: 700;
    font-size: $fontSize;
    line-height: 1.14;
    letter-spacing: $letterSpace;
    text-transform: uppercase;
    color: $bgd-text-color;
  }
  &__input::placeholder {
    font-weight: $fontWeight;
    font-size: 16px;
    line-height: 1.3;
    letter-spacing: $letterSpace;
    color: rgba(255, 255, 255, 0.6);
  }
  &__button {
    background-color: $accent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    cursor: pointer;
  }
  &__submit {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    text-align: center;
    letter-spacing: 0.06em;
    color: $bgd-text-color;
  }
}

.footer-form__title {
  display: flex;
  margin-bottom: 20px;
}

.footer-form__button {
  @include centeredFlex(inline-flex);
  width: 200px;
  height: 50px;
  border: 2px solid transparent;
  border-radius: 4px;
}

.footer-form__submit {
  margin-right: 10px;
}
